/*  your css code here. If applicable */
h1
{
	text-align: center;
}

table
{
	width: 100%
}

table, td
{
	border: 1px solid black;
	border-spacing: 1px;
	padding: 1px;
}

.center
{
	text-align: center;
}

.right
{
	text-align:right;
}

#table-2 td
{
	height: 16px
}